<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
    <span ng-bind-html="alert.msg"></span>
</alert>

<div>
    <h3>Welcome in the quick loan microservice</h3>

    <p class="lead">

    <h4>Find the city</h4>

    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="client.name">
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" placeholder="Surname" ng-model="client.surename">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" ng-model="client.age">
        </div>
        <div class="form-group">
            <label for="job">Job</label>
            <input type="text" class="form-control" id="job" placeholder="Job" ng-model="client.job">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" placeholder="Amount" ng-model="client.amount">
        </div>

        <button type="button" class="btn btn-default" ng-click="applyForLoan()">Apply</button>
    </form>

    <hr/>

    <div class="well">
        The city you are looking for is: {{city}}
    </div>
</div>
        <!--name, surename, age, job, amount, successFn-->